### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [127]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [128]:
# Calculate the total number of unique schools
total_unique_schools = school_data_complete['school_name'].nunique()

# Create a DataFrame with the key metric
local_government_area_summary = pd.DataFrame({"Total Unique Schools": [total_unique_schools]})

# Calculate the total number of students
total_students = school_data_complete['Student ID'].count()

# Add the result to the existing DataFrame
local_government_area_summary["Total Students"] = total_students

# Calculate the total budget
total_budget = school_data['budget'].sum()

# Add the result to the existing DataFrame
local_government_area_summary["Total Budget"] = total_budget

# Calculate the average math score
average_math_score = school_data_complete['maths_score'].mean()

# Add the result to the existing DataFrame
local_government_area_summary["Average Maths Score"] = average_math_score

# Calculate the average reading score
average_reading_score = school_data_complete['reading_score'].mean()

# Add the result to the existing DataFrame
local_government_area_summary["Average Reading Score"] = average_reading_score

# Calculate the percentage passing math
passing_math_percentage = (school_data_complete['maths_score'] >= 50).mean() * 100

# Add the result to the existing DataFrame
local_government_area_summary["% Passing Math"] = passing_math_percentage

# Calculate the percentage passing reading
passing_reading_percentage = (school_data_complete['reading_score'] >= 50).mean() * 100

# Add the result to the existing DataFrame
local_government_area_summary["% Passing Reading"] = passing_reading_percentage

# Calculate the percentage passing overall (both math and reading)
passing_overall_percentage = ((school_data_complete['maths_score'] >= 50) & (school_data_complete['reading_score'] >= 50)).mean() * 100

# Add the result to the existing DataFrame
local_government_area_summary["% Overall Passing"] = passing_overall_percentage

# Format the Total Students and Total Budget columns
local_government_area_summary["Total Students"] = local_government_area_summary["Total Students"].map("{:,}".format)
local_government_area_summary["Total Budget"] = local_government_area_summary["Total Budget"].map("${:,.2f}".format)

# Display the updated high-level snapshot of the local government area's key metrics
local_government_area_summary

,Total Unique Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [129]:
# Group the data by school_name
grouped_school_data = school_data_complete.groupby('school_name')

# Calculate the total students for each school
total_students_per_school = grouped_school_data['Student ID'].count()

# Calculate the school type (assuming it's the same for each school)
school_type = grouped_school_data['type'].first()

# Calculate the total school budget for each school (assuming it's the same for each school)
total_budget_per_school = grouped_school_data['budget'].first()

# Calculate the per student budget for each school
per_student_budget = total_budget_per_school / total_students_per_school

# Calculate the average math score for each school
average_math_score_per_school = grouped_school_data['maths_score'].mean()

# Calculate the average reading score for each school
average_reading_score_per_school = grouped_school_data['reading_score'].mean()

# Calculate the percentage passing math for each school
passing_math_per_school = (school_data_complete[school_data_complete['maths_score'] >= 50].groupby('school_name')['maths_score'].count() / total_students_per_school) * 100

# Calculate the percentage passing reading for each school
passing_reading_per_school = (school_data_complete[school_data_complete['reading_score'] >= 50].groupby('school_name')['reading_score'].count() / total_students_per_school) * 100

# Calculate the percentage overall passing (both math and reading) for each school
passing_overall_per_school = (school_data_complete[(school_data_complete['maths_score'] >= 50) & (school_data_complete['reading_score'] >= 50)].groupby('school_name')['Student ID'].count() / total_students_per_school) * 100

# Create the School Summary DataFrame
school_summary_df = pd.DataFrame({
    "School Type": school_type,
    "Total Students": total_students_per_school,
    "Total School Budget": total_budget_per_school,
    "Per Student Budget": per_student_budget,
    "Average Maths Score": average_math_score_per_school,
    "Average Reading Score": average_reading_score_per_school,
    "% Passing Maths": passing_math_per_school,
    "% Passing Reading": passing_reading_per_school,
    "% Overall Passing": passing_overall_per_school
})

# Format the columns with comma separators and a dollar symbol (similar to previous formatting)
school_summary_df["Total Students"] = school_summary_df["Total Students"].map("{:,}".format)
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the School Summary DataFrame with the index column header removed
school_summary_df.index.name = None
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Bailey High School,Government,"4,976","$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,"1,858","$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,"2,949","$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,"2,739","$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,"1,468","$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,"4,635","$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,"2,917","$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,"4,761","$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,"3,999","$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,"1,761","$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,"1,635","$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,"2,283","$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,"1,800","$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [130]:
# Sort the schools by % Overall Passing in descending order
top_schools = school_summary_df.sort_values(by='% Overall Passing', ascending=False)

# Display the top 5 rows of the sorted DataFrame
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Griffin High School,Independent,"1,468","$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,"1,858","$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,"4,976","$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,"1,800","$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,"3,999","$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [131]:
# Sort the schools by % Overall Passing in ascending order
bottom_schools = school_summary_df.sort_values(by='% Overall Passing')

# Display the top 5 rows of the sorted DataFrame
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Hernandez High School,Government,"4,635","$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,"2,917","$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,"4,761","$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,"2,283","$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,"2,739","$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [132]:
# Group the data by school_name and year
grouped_math_scores_by_year = school_data_complete.groupby(['school_name', 'year'])

# Calculate the average math score for each school and year level
average_math_scores_by_year = grouped_math_scores_by_year['maths_score'].mean()

# Create the Maths Scores by Year DataFrame
math_scores_by_year_df = pd.DataFrame(average_math_scores_by_year).reset_index()

# Pivot the DataFrame to have year levels as columns and schools as rows
math_scores_by_year_pivot = math_scores_by_year_df.pivot(index='school_name', columns='year', values='maths_score')

# Rename the columns with year levels
math_scores_by_year_pivot.columns = ['Math Score - Year 9', 'Math Score - Year 10', 'Math Score - Year 11', 'Math Score - Year 12']

# Display the Maths Scores by Year DataFrame
math_scores_by_year_pivot.index.name = None
math_scores_by_year_pivot

,Math Score - Year 9,Math Score - Year 10,Math Score - Year 11,Math Score - Year 12
Bailey High School,72.493827,71.897498,72.374900,72.675097
Cabrera High School,72.321970,72.437768,71.008299,70.604712
Figueroa High School,68.477804,68.331586,68.811001,69.325282
Ford High School,69.021609,69.387006,69.248862,68.617811
Griffin High School,72.789731,71.093596,71.692521,71.469178
Hernandez High School,68.586831,68.867156,69.154412,68.985075
Holden High School,70.543307,75.105263,71.640777,73.409639
Huang High School,69.081754,68.533246,69.431345,68.639316
Johnson High School,69.469286,67.990220,68.637730,69.287393
Pena High School,71.996364,72.396000,72.523438,71.187845
Rodriguez High School,71.940722,71.779808,72.364811,72.154626
Shelton High School,72.932075,72.506696,70.097087,72.331536
Thomas High School,69.234273,70.057007,69.657831,69.369822
Wilson High School,69.212361,69.455446,68.378965,69.787472
Wright High School,71.741176,72.179012,73.275862,70.848238

## Reading Score by Year

* Perform the same operations as above for reading scores

In [133]:
# Group the data by school_name and year
grouped_reading_scores_by_year = school_data_complete.groupby(['school_name', 'year'])

# Calculate the average reading score for each school and year level
average_reading_scores_by_year = grouped_reading_scores_by_year['reading_score'].mean()

# Create the Reading Scores by Year DataFrame
reading_scores_by_year_df = pd.DataFrame(average_reading_scores_by_year).reset_index()

# Pivot the DataFrame to have year levels as columns and schools as rows
reading_scores_by_year_pivot = reading_scores_by_year_df.pivot(index='school_name', columns='year', values='reading_score')

# Rename the columns with year levels
reading_scores_by_year_pivot.columns = ['Reading Score - Year 9', 'Reading Score - Year 10', 'Reading Score - Year 11', 'Reading Score - Year 12']

# Display the Reading Scores by Year DataFrame
reading_scores_by_year_pivot.index.name = None
reading_scores_by_year_pivot

,Reading Score - Year 9,Reading Score - Year 10,Reading Score - Year 11,Reading Score - Year 12
Bailey High School,70.901920,70.848265,70.317346,72.195525
Cabrera High School,71.172348,71.328326,71.201245,71.856021
Figueroa High School,70.261682,67.677588,69.152327,69.082126
Ford High School,69.615846,68.988701,70.735964,68.849722
Griffin High School,72.026895,70.746305,72.385042,69.434932
Hernandez High School,68.477569,70.621842,68.418199,69.244136
Holden High School,71.598425,71.096491,73.310680,70.481928
Huang High School,68.670616,69.516297,68.740638,68.671795
Johnson High School,68.719286,69.295029,69.969115,67.992521
Pena High School,70.949091,72.324000,71.703125,71.513812
Rodriguez High School,70.902921,70.137500,71.424453,71.414449
Shelton High School,70.715094,69.879464,71.150485,69.070081
Thomas High School,69.672451,69.741093,70.749398,68.730769
Wilson High School,68.683043,68.412541,68.796327,69.888143
Wright High School,71.823529,71.386831,70.475862,69.821138

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [134]:
# Create four bins with reasonable cutoff values to group school spending
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Categorize spending based on the bins
school_summary_df["Spending Ranges (Per Student)"] = pd.cut(school_summary_df["Per Student Budget"].str.replace("$", "").str.replace(",", "").astype(float), spending_bins, labels=labels, include_lowest=True)

# Calculate mean scores per spending range
spending_math_scores = school_summary_df.groupby(["Spending Ranges (Per Student)"])["Average Maths Score"].mean()
spending_reading_scores = school_summary_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_summary_df.groupby(["Spending Ranges (Per Student)"])["% Passing Maths"].mean()
spending_passing_reading = school_summary_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_summary_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

# Create the Scores by School Spending DataFrame (spending_summary)
spending_summary = pd.DataFrame({
    "Average Maths Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Maths": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

# Format the DataFrame with percentage formatting (if needed)
spending_summary["Average Maths Score"] = spending_summary["Average Maths Score"].map("{:.2f}".format)
spending_summary["Average Reading Score"] = spending_summary["Average Reading Score"].map("{:.2f}".format)
spending_summary["% Passing Maths"] = spending_summary["% Passing Maths"].map("{:.2f}%".format)
spending_summary["% Passing Reading"] = spending_summary["% Passing Reading"].map("{:.2f}%".format)
spending_summary["% Overall Passing"] = spending_summary["% Overall Passing"].map("{:.2f}%".format)

# Display the Scores by School Spending DataFrame (spending_summary)
spending_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,71.36,70.72,88.84%,86.39%,76.72%
$585-630,72.07,71.03,91.52%,87.29%,79.88%
$630-645,69.85,69.84,84.69%,83.76%,71.00%
$645-680,68.88,69.05,81.57%,81.77%,66.76%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [135]:
# Remove comma separators from the "Total Students" column
school_summary_df["Total Students"] = school_summary_df["Total Students"].str.replace(",", "")

# Convert the "Total Students" column to integers
school_summary_df["Total Students"] = school_summary_df["Total Students"].astype(int)

# Create bins for school size
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Categorize school size based on the bins
school_summary_df["School Size"] = pd.cut(school_summary_df["Total Students"], size_bins, labels=labels, include_lowest=True)

# Calculate mean scores per school size
size_math_scores = school_summary_df.groupby(["School Size"])["Average Maths Score"].mean()
size_reading_scores = school_summary_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_summary_df.groupby(["School Size"])["% Passing Maths"].mean()
size_passing_reading = school_summary_df.groupby(["School Size"])["% Passing Reading"].mean()
overall_passing_size = school_summary_df.groupby(["School Size"])["% Overall Passing"].mean()

# Create the Scores by School Size DataFrame (size_summary)
size_summary = pd.DataFrame({
    "Average Maths Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Maths": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": overall_passing_size
})

# Format the DataFrame with percentage formatting (if needed)
size_summary["Average Maths Score"] = size_summary["Average Maths Score"].map("{:.2f}".format)
size_summary["Average Reading Score"] = size_summary["Average Reading Score"].map("{:.2f}".format)
size_summary["% Passing Maths"] = size_summary["% Passing Maths"].map("{:.2f}%".format)
size_summary["% Passing Reading"] = size_summary["% Passing Reading"].map("{:.2f}%".format)
size_summary["% Overall Passing"] = size_summary["% Overall Passing"].map("{:.2f}%".format)

# Display the Scores by School Size DataFrame (size_summary)
size_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),72.34,71.64,90.81%,87.56%,79.07%
Medium (1000-2000),71.42,70.72,89.85%,86.71%,78.04%
Large (2000-5000),69.75,69.58,84.25%,83.30%,70.29%

## Scores by School Type

* Perform the same operations as above, based on school type

In [136]:
# Calculate mean scores per school type
type_math_scores = school_summary_df.groupby(["School Type"])["Average Maths Score"].mean()
type_reading_scores = school_summary_df.groupby(["School Type"])["Average Reading Score"].mean()
type_passing_math = school_summary_df.groupby(["School Type"])["% Passing Maths"].mean()
type_passing_reading = school_summary_df.groupby(["School Type"])["% Passing Reading"].mean()
overall_passing_type = school_summary_df.groupby(["School Type"])["% Overall Passing"].mean()

# Create the Scores by School Type DataFrame (type_summary)
type_summary = pd.DataFrame({
    "Average Maths Score": type_math_scores,
    "Average Reading Score": type_reading_scores,
    "% Passing Maths": type_passing_math,
    "% Passing Reading": type_passing_reading,
    "% Overall Passing": overall_passing_type
})

# Format the DataFrame with percentage formatting (if needed)
type_summary["Average Maths Score"] = type_summary["Average Maths Score"].map("{:.2f}".format)
type_summary["Average Reading Score"] = type_summary["Average Reading Score"].map("{:.2f}".format)
type_summary["% Passing Maths"] = type_summary["% Passing Maths"].map("{:.2f}%".format)
type_summary["% Passing Reading"] = type_summary["% Passing Reading"].map("{:.2f}%".format)
type_summary["% Overall Passing"] = type_summary["% Overall Passing"].map("{:.2f}%".format)

# Display the Scores by School Type DataFrame (type_summary)
type_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.83,69.68,84.46%,83.59%,70.70%
Independent,71.37,70.72,89.20%,86.25%,76.97%